@charset "UTF-8";

html {
  font-size: 62.5%;
  background-color: #f2f0e9;
  color: #3f3f3f;
  font-family: "Noto Serif JP", serif;
}

body {
  font-size: 1.4rem;
}

img {
  border-radius: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-family: "Zen Maru Gothic", serif;
}

h2 {
  font-size: 4rem;
  font-family: "Zen Maru Gothic", serif;
}

.content-title::after {
  content: "";
  position: absolute;
  margin-top: 50px;
  display: inline-block;
  width: 100px;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #69B0AC;
  border-radius: 2px;
}

h3 {
  font-size: 3rem;
  font-family: "Zen Maru Gothic", serif;
}

p {
  font-size: 2rem;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*矢印が右に移動して背景がつく*/
.btnarrow {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  border: 2px solid #69B0AC;
  padding: 8px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #3f3f3f;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
  background-color: white;
}

.btnarrow:hover {
  background: #69B0AC;
  color: #f2f0e9;
}

/*矢印と下線の形状*/
.btnarrow::before {
  content: "";
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  top: 50%;
  right: -26px;
  /*下線の形状*/
  width: 40px;
  height: 1px;
  background: #69B0AC;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

.btnarrow::after {
  content: "";
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 20%;
  right: -19px;
  /*矢印の形状*/
  width: 1px;
  height: 14px;
  background: #69B0AC;
  transform: skewX(45deg);
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

/*hoverした際の移動*/
.btnarrow:hover::before {
  right: -50px;
}

.btnarrow:hover::after {
  right: -43px;
}

.btnarrow2 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  border: 2px solid #D0596E;
  padding: 8px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
  background-color: #D0596E;
}

.btnarrow2:hover {
  background: white;
  color: #3f3f3f;
}

/*矢印と下線の形状*/
.btnarrow2::before {
  content: "";
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  top: 50%;
  right: -26px;
  /*下線の形状*/
  width: 40px;
  height: 1px;
  background: #D0596E;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

.btnarrow2::after {
  content: "";
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 20%;
  right: -19px;
  /*矢印の形状*/
  width: 1px;
  height: 14px;
  background: #D0596E;
  transform: skewX(45deg);
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

/*hoverした際の移動*/
.btnarrow2:hover::before {
  right: -50px;
}

.btnarrow2:hover::after {
  right: -43px;
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #69B0AC;
  text-align: center;
  color: #f2f0e9;
}
#splash img {
  width: 400px;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}

/*========= スクロール途中でヘッダーが表示＆非表示するためのCSS ===============*/
#header {
  position: fixed;
  height: 60px;
  width: calc(100vw - 32px);
  z-index: 998;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(105, 176, 172, 0.8);
  color: #f2f0e9;
  text-align: center;
  padding: 20px;
  margin: 16px;
  border-radius: 20px;
}

#r-nav {
  display: none;
}

.openbtn {
  display: none;
}

.res-sp {
  display: none;
}

/*　上に上がる動き　*/
#header.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
/*　下に下がる動き　*/
#header.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #3f3f3f;
  padding: 10px;
  margin: 0 10px;
  font-size: 1.7rem;
  line-height: 60px;
}

nav ul li {
  color: white;
  margin: 0 10px;
}
nav ul li:nth-child(4) {
  background-color: #D0596E;
  color: white;
}
nav ul li:nth-child(5) {
  background-color: #D0596E;
  color: white;
}

#hero {
  height: 100vh;
  position: relative;
  font-family: "Zen Maru Gothic", serif;
}
#hero .hero-text {
  text-align: center;
  position: absolute;
  top: 25vh;
  text-shadow: 0 0 15px rgba(105, 176, 172, 0.5), 0 0 30px rgba(105, 176, 172, 0.5), 0 0 40px rgba(105, 176, 172, 0.5);
  left: 14vw;
  color: white;
}
#hero .hero-text h2 {
  font-size: 6rem;
}
#hero .hero-text p {
  margin-top: 10px;
  font-size: 3rem;
}
#hero img {
  height: 300px;
  position: absolute;
  top: 55vh;
  left: 10vw;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slider-1 24s linear infinite;
}

.slide-image:nth-child(1) {
  background-image: url(images/hero-1.JPG);
  animation-delay: -2s;
}

.slide-image:nth-child(2) {
  background-image: url(images/hero-2.JPG);
  animation-delay: 6s;
}

.slide-image:nth-child(3) {
  background-image: url(images/hero-3.JPG);
  animation-delay: 14s;
}

@keyframes slider-1 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  4.16% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  41.66% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
#particles-js {
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 1850px;
  text-align: center;
}

.particles-js-canvas-el {
  margin-top: -44px;
}

.intro-wrap {
  position: relative;
  width: 100vw;
  top: 200px;
  z-index: 1 h2;
  z-index-text-align: center;
}
.intro-wrap .intro-top {
  position: absolute;
  top: 150px;
  display: flex;
  width: 100vw;
  justify-content: center;
}
.intro-wrap .intro-top img {
  height: 580px;
  width: 430px;
  position: absolute;
  right: 57%;
  -o-object-fit: cover;
  object-fit: cover;
}
.intro-wrap .intro-top div {
  position: absolute;
  text-align: center;
  margin: 30px 10vw 0 50vw;
}
.intro-wrap .intro-top div p {
  margin: 50px 0 20px 0;
}
.intro-wrap .intro-top div a {
  font-size: 2rem;
}
.intro-wrap .intro-bottom {
  position: absolute;
  top: 850px;
  display: flex;
  width: 100vw;
}
.intro-wrap .intro-bottom img {
  height: 70vh;
  width: 30vw;
  margin-left: 10vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro-wrap .intro-bottom .intro-bottom-img1 {
  height: 400px;
  width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 5vh;
  left: 50vw;
}
.intro-wrap .intro-bottom .intro-bottom-img2 {
  height: 350px;
  width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 40vh;
  left: 55vw;
}
.intro-wrap .intro-bottom div {
  position: absolute;
  text-align: center;
  margin-top: 100px;
  right: 50%;
}
.intro-wrap .intro-bottom div h3 {
  margin-bottom: 40px;
}
.intro-wrap .intro-bottom div p {
  margin: 20px 0 10px 0;
  width: 580px;
}
.intro-wrap .intro-bottom div p::after {
  content: "";
  display: inline-block;
  width: 700px;
  height: 10px;
  border-bottom: 3px solid #69B0AC;
  position: relative;
  left: -50px;
}
.intro-wrap .intro-bottom div p:nth-child(4)::before {
  content: "1";
  display: inline-block;
  background-color: #69B0AC;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 52px;
  left: -80px;
  line-height: 50px;
}
.intro-wrap .intro-bottom div p:nth-child(3)::before {
  content: "2";
  display: inline-block;
  background-color: #69B0AC;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 52px;
  left: -80px;
  line-height: 50px;
}
.intro-wrap .intro-bottom div p:nth-child(4)::before {
  content: "3";
  display: inline-block;
  background-color: #69B0AC;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 52px;
  left: -80px;
  line-height: 50px;
}
.intro-wrap .intro-bottom div a {
  margin-top: 70px;
  font-size: 2rem;
}

.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.slider .slick-slide {
  margin: 100px 10px;
  /*スライド左右の余白調整*/
}

#slide-show ul {
  padding: 0;
}

#greeting {
  text-align: center;
  background-color: white;
  padding: 70px 0;
  font-family: "Zen Kurenaido", sans-serif;
}
#greeting h2 {
  margin-bottom: 100px;
}
#greeting .greeting-img2 {
  display: none;
}
#greeting .greeting-wrap {
  display: flex;
}
#greeting .greeting-wrap p {
  width: 40vw;
  margin: 50px 3vw 0 12vw;
  line-height: 50px;
}
#greeting .greeting-wrap img {
  width: 35vw;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 12vw 0 3vw;
}

#posts {
  text-align: center;
  margin: 130px 0;
}
#posts h2 {
  margin-bottom: 70px;
}
#posts img {
  width: 1200px;
  margin: 0 auto;
}
#posts a {
  font-size: 2rem;
  margin-top: 30px;
}

#to-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/back.JPG);
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-align: center;
  padding: 95px 0;
}
#to-contact div {
  height: 310px;
}
#to-contact div h3 {
  margin-bottom: 50px;
}
#to-contact div p {
  margin: 20px 0;
}
#to-contact div p:last-child {
  margin: 20px 0 0 0;
}
#to-contact div a {
  font-size: 2rem;
  margin-bottom: 20px;
}

#footer img {
  width: 212px;
  margin: 50px auto 0 auto;
}
#footer nav {
  margin: 10px 0;
  background-color: none;
  color: #3f3f3f;
}
#footer nav::before {
  content: "";
  width: 80vw;
  display: inline-block;
  border: 0.5px solid #3f3f3f;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
#footer nav::after {
  content: "";
  width: 80vw;
  display: inline-block;
  border: 0.5px solid #3f3f3f;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: -10px;
}
#footer nav ul {
  margin: 30px 0;
}
#footer nav ul li {
  color: #3f3f3f;
  background-color: #f2f0e9;
}
#footer .footer-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
#footer .footer-wrap div {
  width: 500px;
}
#footer .footer-wrap div h3 {
  margin-bottom: 30px;
}
#footer .footer-wrap div p {
  line-height: 40px;
}
#footer .footer-wrap div p .res-map {
  display: none;
}

#page-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/about-top.JPG);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

.heading {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 260px;
  font-size: 6rem;
  font-family: "Zen Maru Gothic", serif;
  color: white;
}

.heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #D0596E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#philosophy {
  text-align: center;
  margin-top: 200px;
  transform: translateY(10px);
}
#philosophy .philosophy-wrap {
  background-color: white;
  transform: translateY(-10px);
}
#philosophy .philosophy-div1 {
  padding: 30px 0;
  transform: translateY(-10px);
}
#philosophy .philosophy-div1 h2 {
  margin: 50px;
}
#philosophy .philosophy-div1 p {
  text-align: center;
  display: inline-block;
  max-width: 70vw;
}
#philosophy .philosophy-div2 {
  transform: translateY(-10px);
}
#philosophy .philosophy-div2 h3 {
  margin: 0 0 50px 0;
}
#philosophy .philosophy-div2 div {
  margin: 16px auto;
  text-align: center;
  display: block;
}
#philosophy .philosophy-div2 div p {
  text-align: left;
  display: inline-block;
  max-width: 70vw;
}
#philosophy .philosophy-div2:before {
  content: "";
  width: 70vw;
  border: 0.5px solid #3f3f3f;
  display: inline-block;
  margin: 50px 0 100px 0;
}
#philosophy .philosophy-div2:after {
  content: "";
  width: 70vw;
  border: 0.5px solid #3f3f3f;
  display: inline-block;
  margin: 100px 0 50px 0;
}
#philosophy .philosophy-div3 {
  padding: 30px 0 10px 0;
  transform: translateY(-10px);
}
#philosophy .philosophy-div3 h3 {
  margin: 0 0 50px 0;
}
#philosophy .philosophy-div3 div {
  margin: 16px auto;
  text-align: center;
  display: block;
}
#philosophy .philosophy-div3 div p {
  text-align: left;
  display: inline-block;
  max-width: 70vw;
}
#philosophy .wave-bottom {
  transform: translateY(-10px);
  background-color: #f2f0e9;
  margin-bottom: -10px;
}

#facility {
  background-color: #f2f0e9;
  text-align: center;
  padding-top: 100px;
}
#facility .content-title {
  margin-bottom: 100px;
}
#facility .f-descriptin-top {
  display: flex;
  justify-content: center;
}
#facility .f-descriptin-top img {
  width: 500px;
  -o-object-position: center;
     object-position: center;
  margin-right: 50px;
}
#facility .f-descriptin-top div {
  width: 500px;
  text-align: center;
}
#facility .f-descriptin-top div h3 {
  margin: 20px 0 30px 0;
}
#facility .f-descriptin-top div p {
  line-height: 35px;
}
#facility .f-descriptin-middle {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75vw;
  margin: 150px auto 0 auto;
}
#facility .f-descriptin-middle h3 {
  width: 100%;
  margin-bottom: 50px;
}
#facility .f-descriptin-middle div {
  width: 30%;
  padding: 20px 20px 40px 20px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
#facility .f-descriptin-middle div img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
}
#facility .f-description-bottom {
  max-width: 1100px;
  width: 70vw;
  margin: 150px auto 0 auto;
  padding-bottom: 100px;
}
#facility .f-description-bottom h3 {
  margin-bottom: 50px;
}
#facility .f-description-bottom table {
  width: 100%;
  border-collapse: collapse;
  font-size: 2rem;
  border: 2px #a4a4a4 solid;
}
#facility .f-description-bottom table tr {
  border-bottom: solid 2px #a4a4a4;
}
#facility .f-description-bottom table tr:last-child {
  border-bottom: none;
}
#facility .f-description-bottom table th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #69B0AC;
  color: white;
  text-align: center;
  padding: 10px 0;
}
#facility .f-description-bottom table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #69B0AC;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
#facility .f-description-bottom table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: white;
  padding: 10px 0;
}

#page-service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/service-top.JPG);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

.heading {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 260px;
  font-size: 6rem;
  font-family: "Zen Maru Gothic", serif;
  color: white;
}

.heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #D0596E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#service {
  text-align: center;
  margin-top: 200px;
  transform: translateY(10px);
}
#service .wave-bottom {
  transform: translateY(-10px);
  background-color: #f2f0e9;
  margin-bottom: -10px;
}
#service .service-wrap {
  transform: translateY(-10px);
  background-color: white;
}
#service .service-top h2 {
  line-height: 60px;
}
#service .service-top p {
  max-width: 70vw;
  margin: 0 auto;
  padding: 50px 0;
  line-height: 35px;
}
#service .service-middle h3 {
  padding: 150px 0 90px 0;
}
#service .service-middle div {
  max-width: 70vw;
  margin: 0 auto 75px auto;
}
#service .service-middle div h4 {
  float: left;
  font-size: 2.5rem;
}
#service .service-middle div h4:before {
  content: "";
  border: 2px #69B0AC solid;
  margin-right: 5px;
}
#service .service-middle div p {
  margin: 30px 0;
  text-align: left;
  padding-left: 50px;
  line-height: 35px;
}
#service .service-bottom h3 {
  margin: 70px 0;
}
#service .service-bottom div .sb-icon h4 {
  margin-bottom: 30px;
  font-size: 2.3rem;
  font-family: "Zen Maru Gothic", serif;
}
#service .service-bottom div .sb-icon div {
  height: 140px;
  width: 140px;
  background-color: #69B0AC;
  padding: 20px;
  border-radius: 100px;
  margin: 0 auto;
}
#service .service-bottom div .sb-icon div img {
  height: 100px;
  width: 100px;
}
#service .service-bottom div p {
  border-bottom: 1px #69B0AC solid;
}
#service .service-bottom div p:nth-child(2) {
  text-align: right;
}
#service .service-bottom div p:nth-child(3) {
  text-align: right;
}
#service .service-bottom div p:nth-child(4) {
  text-align: left;
}
#service .service-bottom div p:nth-child(5) {
  text-align: left;
}
#service .service-bottom div p:nth-child(6) {
  text-align: center;
}
#service .service-bottom div p span {
  font-size: 1.5rem;
}
#service .service-bottom .sb-up {
  position: relative;
  margin-bottom: 250px;
}
#service .service-bottom .sb-up p:nth-child(2) {
  position: absolute;
  top: 30px;
  right: calc(50% + 130px);
}
#service .service-bottom .sb-up p:nth-child(3) {
  position: absolute;
  top: 150px;
  right: calc(50% + 130px);
}
#service .service-bottom .sb-up p:nth-child(4) {
  position: absolute;
  top: 30px;
  left: calc(50% + 130px);
}
#service .service-bottom .sb-up p:nth-child(5) {
  position: absolute;
  top: 150px;
  left: calc(50% + 130px);
}
#service .service-bottom .sb-up p:nth-child(6) {
  position: absolute;
  top: 250px;
  left: calc(50% - 127px);
}
#service .service-bottom .sb-left {
  position: relative;
  margin-bottom: 150px;
}
#service .service-bottom .sb-left p:nth-child(2) {
  position: absolute;
  top: 30px;
  right: calc(50% + 130px);
}
#service .service-bottom .sb-left p:nth-child(3) {
  position: absolute;
  top: 150px;
  right: calc(50% + 130px);
}
#service .service-bottom .sb-left p:nth-child(4) {
  position: absolute;
  top: 30px;
  left: calc(50% + 130px);
}
#service .service-bottom .sb-left p:nth-child(5) {
  position: absolute;
  top: 150px;
  left: calc(50% + 130px);
}
#service .service-bottom .sb-right {
  position: relative;
  padding-bottom: 100px;
}
#service .service-bottom .sb-right p:nth-child(2) {
  position: absolute;
  top: 30px;
  right: calc(50% + 130px);
}
#service .service-bottom .sb-right p:nth-child(3) {
  position: absolute;
  top: 150px;
  right: calc(50% + 130px);
}
#service .service-bottom .sb-right p:nth-child(4) {
  position: absolute;
  top: 30px;
  left: calc(50% + 130px);
}
#service .service-bottom .sb-right p:nth-child(5) {
  position: absolute;
  top: 150px;
  left: calc(50% + 130px);
}

#flow-service {
  padding-top: 100px;
  background-color: #f2f0e9;
  padding-bottom: 150px;
}
#flow-service h2 {
  margin-bottom: 100px;
  text-align: center;
}
#flow-service .flow-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: 0 auto;
}
#flow-service .flow-content ul {
  padding: 0;
}
#flow-service .flow-content li {
  list-style-type: none;
}
#flow-service .flow-content dd {
  margin-left: 0;
  font-size: 2rem;
}
#flow-service .flow > li {
  position: relative;
  list-style: none;
}
#flow-service .flow > li:not(:last-child) {
  margin-bottom: 40px;
}
#flow-service .flow > li dl {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  border: 2px solid #69B0AC;
  border-radius: 10px;
  position: relative;
  background-color: white;
}
#flow-service .flow > li:not(:last-child) dl::before,
#flow-service .flow > li:not(:last-child) dl::after {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#flow-service .flow > li:not(:last-child) dl::before {
  border-width: 22px;
  border-top-color: #69B0AC;
}
#flow-service .flow > li:not(:last-child) dl::after {
  border-width: 20px;
  border-top-color: #fff;
}
#flow-service .flow > li dl dt {
  font-size: 2rem;
  font-weight: 600;
  flex-basis: 20%;
  margin-right: 2vw;
  text-align: center;
  min-width: 14vw;
}
#flow-service .flow > li dl dt .icon01 {
  font-size: 0.6em;
  color: #fff;
  background: #69B0AC;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: block;
  border-radius: 20px;
  position: relative;
  z-index: 100;
}
@media (max-width: 650px) {
  #flow-service .flow > li:not(:last-child) {
    margin-bottom: 30px;
  }
  #flow-service .flow > li dl {
    display: block;
    padding: 10px 15px;
  }
  #flow-service .flow > li dl dt {
    margin-right: 0;
  }
  #flow-service .flow > li dl dt .icon01 {
    font-size: 0.7em;
  }
}

#to-contact-service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/contact-back.JPG);
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-align: center;
  padding: 50px 0;
}
#to-contact-service h3 {
  margin-bottom: 30px;
}
#to-contact-service p {
  line-height: 35px;
  margin: 10px 0 5px 0;
}
#to-contact-service a {
  font-size: 2rem;
  margin-bottom: 20px;
}

#recruit-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: white;
  color: #3f3f3f;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9), 0 0 40px #fff;
  overflow: hidden;
}
#recruit-hero img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#recruit-hero::before {
  content: "";
  display: inline-block;
  width: 300px;
  height: 300px;
  background-image: url(images/recruit-acce-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
}
#recruit-hero::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 300px;
  background-image: url(images/recruit-acce-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
}
#recruit-hero .declare {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}
#recruit-hero .declare h2 {
  font-size: 9rem;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 20px;
}
#recruit-hero .declare h3 {
  font-size: 5rem;
  font-family: "Noto Serif JP", serif;
}
#recruit-hero .declare h3::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  bottom: -70%;
  right: 20%;
  z-index: -1;
}
#recruit-hero .company {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
#recruit-hero .company h3 {
  font-size: 4rem;
  font-family: "Noto Serif JP", serif;
}
#recruit-hero .company h4 {
  font-size: 3rem;
  font-family: "Noto Serif JP", serif;
}

#copy {
  text-align: center;
  margin: 200px auto 0 auto;
  padding: 70px 50px;
  background-color: white;
  border-radius: 20px;
  width: 75vw;
  max-width: 1200px;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
#copy::before {
  content: "";
  display: inline-block;
  width: 250px;
  height: 250px;
  background-image: url(images/recruit-acce-3.png);
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  top: -100px;
  left: -100px;
}
#copy::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 250px;
  background-image: url(images/recruit-acce-5.png);
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  bottom: -100px;
  right: -100px;
}
#copy h2 {
  margin-bottom: 50px;
}
#copy p {
  line-height: 40px;
}

#mind {
  width: 80vw;
  margin: 170px auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}
#mind::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 250px;
  background-image: url(images/recruit-acce-4.png);
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  bottom: -100px;
  left: -100px;
}
#mind img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mind div {
  width: 50%;
}
#mind div h2 {
  margin-bottom: 30px;
}
#mind div p span {
  font-size: 2.3rem;
  border-bottom: 2px solid #69B0AC;
  line-height: 40px;
}

#attracts {
  padding: 100px;
  text-align: center;
  width: 100%;
  position: relative;
  background-color: white;
}
#attracts::before {
  content: "";
  display: inline-block;
  width: 250px;
  height: 250px;
  background-image: url(images/recruit-acce-6.png);
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 60px;
}
#attracts h2 {
  margin-bottom: 30px;
}
#attracts div:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(images/leaf-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: 50px;
}
#attracts div h4 {
  font-size: 2.5rem;
  margin: 50px 0 30px 0;
}

#points {
  text-align: center;
  width: 1200px;
  margin: 100px auto 0 auto;
}
#points h2 {
  margin: 50px auto;
}

.display-none {
  display: none;
}

/*tabの形状*/
.tab {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.tab li a {
  display: block;
  background: #ddd;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;
}
.tab li a:nth-child(1) {
  margin-left: 0;
}

/*liにactiveクラスがついた時の形状*/
.tab li.active a {
  background: #fff;
}

/*エリアの表示非表示と形状*/
.area {
  display: none;
  opacity: 0;
  background: #fff;
  padding: 50px 20px;
  border-radius: 0 30px 30px 30px;
}
.area div {
  display: flex;
  justify-content: center;
}
.area div img {
  width: 40%;
}
.area div p {
  min-width: 40%;
  width: 100%;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block;
  /*表示*/
  animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#flow-recruit {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}
#flow-recruit div {
  background-color: white;
}
#flow-recruit .wave-top {
  transform: translateY(10px);
}
#flow-recruit h2 {
  margin-bottom: 50px;
  margin-top: 0;
}
#flow-recruit .flow-content {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
#flow-recruit .flow-content ul {
  padding: 0;
}
#flow-recruit .flow-content li {
  list-style-type: none;
}
#flow-recruit .flow-content dd {
  margin-left: 0;
}
#flow-recruit .flow {
  position: relative;
}
#flow-recruit .flow::before {
  content: "";
  width: 15px;
  height: 100%;
  background: #69B0AC;
  margin-left: -129px;
  display: block;
  position: absolute;
  top: 0;
  left: 120px;
  border-radius: 20px;
}
#flow-recruit .flow > li {
  position: relative;
}
#flow-recruit .flow > li:not(:last-child) {
  margin-bottom: 60px;
}
#flow-recruit .flow > li .icon03 {
  font-size: 0.8em;
  width: 2em;
  height: 2em;
  line-height: 2;
  text-align: center;
  font-weight: bold;
  border-radius: 100vh;
  color: #fff;
  background: #69B0AC;
  display: inline-block;
  margin-right: 0.3em;
}
#flow-recruit .flow > li dl {
  padding-left: 70px;
  position: relative;
}
#flow-recruit .flow > li dl::before,
#flow-recruit .flow > li dl::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
}
#flow-recruit .flow > li dl::before {
  width: 7px;
  height: 7px;
  margin-top: -3px;
  background: #fff;
  border-radius: 50%;
  left: -4px;
}
#flow-recruit .flow > li dl::after {
  width: 50px;
  border-bottom: 1px dashed #999;
  position: absolute;
  left: 5px;
}
#flow-recruit .flow > li dl dt {
  font-size: 1.3em;
  font-weight: 600;
  color: #3f3f3f;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

#openings {
  font-size: 2rem;
  text-align: center;
}
#openings table {
  margin-bottom: 20px;
  width: 70%;
  max-width: 1200px;
  margin: 100px auto;
  border-collapse: separate;
}
#openings th,
#openings td {
  border: none;
  padding: 2%;
}
#openings th {
  width: 25%;
  color: #FFF;
  font-weight: bold;
  background-color: #69B0AC;
  vertical-align: middle;
}
#openings td {
  background-color: white;
}
#openings li {
  list-style: none;
}

.form-wrap {
  padding: 200px 50px 0 50px;
}
.form-wrap .recruit-title {
  text-align: center;
}
.form-wrap .recruit-title h2 {
  margin-bottom: 30px;
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  max-width: 720px;
}

@media screen and (max-width: 600px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 600px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #69B0AC;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #f2f0e9;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #69B0AC;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

#to-entry {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/recruit-back.JPG);
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-align: center;
  padding: 95px 0;
}
#to-entry div {
  height: 310px;
}
#to-entry div h3 {
  margin-bottom: 50px;
}
#to-entry div p {
  margin: 20px 0;
}
#to-entry div p:last-child {
  margin: 20px 0 0 0;
}
#to-entry div a {
  font-size: 2rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}
#points-sp {
  display: none;
}

/* 画面サイズ 600px 以上 1200px 未満 */
@media (max-width: 1280px) {
  body {
    overflow-x: hidden;
  }
  #header {
    /*アクティブクラスがついたら位置を0に*/
    /*ナビゲーション*/
    /*リストのレイアウト設定*/
    /*========= ボタンのためのCSS ===============*/
    /*×に変化*/
  }
  #header #g-nav {
    display: none;
  }
  #header #r-nav {
    display: block;
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: -120vh;
    left: 0;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: #69B0AC;
    /*動き*/
    transition: all 0.6s;
    border-radius: 100px;
    transform: scale(1.1);
  }
  #header #r-nav ul {
    padding: 0;
  }
  #header #r-nav.panelactive {
    top: 0;
  }
  #header #r-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50vw;
    min-width: 360px;
  }
  #header #r-nav li {
    list-style: none;
    text-align: center;
    margin: 10px 0;
    border-radius: 10px;
  }
  #header #r-nav li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  #header .openbtn {
    display: block;
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  #header .openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    width: 45%;
  }
  #header .openbtn span:nth-of-type(1) {
    top: 10px;
  }
  #header .openbtn span:nth-of-type(2) {
    top: 18px;
  }
  #header .openbtn span:nth-of-type(3) {
    top: 26px;
  }
  #header .openbtn.active span:nth-of-type(1) {
    top: 13px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  #header .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  #header .openbtn.active span:nth-of-type(3) {
    top: 25px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  #hero div {
    text-align: center;
    position: absolute;
  }
  #hero img {
    height: 250px;
    position: absolute;
    top: unset;
    left: unset;
    bottom: 10vw;
    right: 7vw;
  }
  .intro-wrap {
    top: 100px;
  }
  .intro-wrap .intro-top img {
    display: none;
  }
  .intro-wrap .intro-top div {
    margin: 0;
  }
  .intro-wrap .intro-bottom {
    top: 750px;
  }
  .intro-wrap .intro-bottom .intro-bottom-img1 {
    top: -50px;
    left: 0;
  }
  .intro-wrap .intro-bottom .intro-bottom-img2 {
    top: 13vh;
    right: 10vw;
    left: unset;
  }
  .intro-wrap .intro-bottom div {
    top: 500px;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0px);
  }
  .intro-wrap .intro-bottom div a {
    margin-top: 30px;
  }
  #particles-js {
    height: 2230px;
  }
  .greeting-img2 {
    display: block;
    width: 100%;
    height: 350px;
  }
  #greeting .greeting-wrap {
    display: block;
  }
  .greeting-img1 {
    display: none;
  }
  #greeting .greeting-wrap img {
    width: 90%;
    height: 350px;
    margin: 0 auto;
  }
  #greeting .greeting-img2 {
    display: block;
    width: 100%;
    height: 350px;
  }
  #greeting .greeting-wrap p {
    width: 80vw;
    margin: 50px auto;
    line-height: 50px;
  }
  #footer nav ul {
    flex-wrap: wrap;
    padding: 0;
  }
  #footer nav ul li {
    width: 30%;
    text-align: center;
  }
  .map {
    display: none;
  }
  #footer .footer-wrap div h3 {
    text-align: center;
  }
  #footer .footer-wrap div p {
    text-align: center;
  }
  #footer .footer-wrap div p .res-map {
    display: inline-block;
    color: #69B0AC;
  }
  .intro-wrap .intro-bottom div p:nth-child(1)::before {
    content: unset;
  }
  .intro-wrap .intro-bottom div p:nth-child(3)::before {
    content: unset;
  }
  .intro-wrap .intro-bottom div p:nth-child(4)::before {
    content: unset;
  }
  .ib-1,
  .ib-2,
  .ib-3 {
    display: block;
    width: 70px;
    height: 60px;
    color: white;
    line-height: 35px;
    background-image: url(images/leaf-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .intro-wrap .intro-bottom div p {
    margin: 10px 0 50px 0;
    width: 80vw;
  }
  .intro-wrap .intro-bottom div p::after {
    left: 0px;
    width: 80vw;
  }
  #facility .f-descriptin-top {
    display: block;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
  }
  #facility .f-descriptin-middle {
    width: 85vw;
  }
  #facility .f-descriptin-middle div {
    width: 47%;
  }
  #service .service-bottom {
    padding: 0 30px;
  }
  #service .service-bottom div .sb-icon div {
    height: 130px;
    width: 130px;
  }
  #service .service-bottom .sb-up {
    position: relative;
    margin-bottom: 400px;
  }
  #service .service-bottom .sb-up p:nth-child(2) {
    position: absolute;
    top: 200px;
    right: calc(50% + 70px);
  }
  #service .service-bottom .sb-up p:nth-child(3) {
    position: absolute;
    top: 320px;
    right: calc(50% + 30px);
  }
  #service .service-bottom .sb-up p:nth-child(4) {
    position: absolute;
    top: 200px;
    left: calc(50% + 70px);
  }
  #service .service-bottom .sb-up p:nth-child(5) {
    position: absolute;
    top: 320px;
    left: calc(50% + 30px);
  }
  #service .service-bottom .sb-up p:nth-child(6) {
    position: absolute;
    top: 420px;
    left: calc(50% - 127px);
  }
  #service .service-bottom .sb-left {
    position: relative;
    margin-bottom: 300px;
  }
  #service .service-bottom .sb-left p:nth-child(2) {
    position: absolute;
    top: 200px;
    right: calc(50% + 70px);
  }
  #service .service-bottom .sb-left p:nth-child(3) {
    position: absolute;
    top: 320px;
    right: calc(50% + 30px);
  }
  #service .service-bottom .sb-left p:nth-child(4) {
    position: absolute;
    top: 200px;
    left: calc(50% + 70px);
  }
  #service .service-bottom .sb-left p:nth-child(5) {
    position: absolute;
    top: 320px;
    left: calc(50% + 30px);
  }
  #service .service-bottom .sb-right {
    position: relative;
    padding-bottom: 270px;
  }
  #service .service-bottom .sb-right p:nth-child(2) {
    position: absolute;
    top: 200px;
    right: calc(50% + 70px);
  }
  #service .service-bottom .sb-right p:nth-child(3) {
    position: absolute;
    top: 320px;
    right: calc(50% + 30px);
  }
  #service .service-bottom .sb-right p:nth-child(4) {
    position: absolute;
    top: 200px;
    left: calc(50% + 70px);
  }
  #service .service-bottom .sb-right p:nth-child(5) {
    position: absolute;
    top: 320px;
    left: calc(50% + 30px);
  }
  #service .service-top h2 {
    padding: 0 50px;
  }
  #points {
    margin: 100px auto 0 auto;
    width: 90vw;
  }
  #recruit-hero img {
    top: 27%;
    left: -33%;
  }
  #recruit-hero .declare h3 {
    font-size: 5rem;
    font-family: "Noto Serif JP", serif;
    width: 70vw;
  }
  #recruit-hero::before {
    width: 350px;
    height: 350px;
  }
  #recruit-hero::after {
    width: 350px;
    height: 350px;
  }
  #copy::before {
    width: 170px;
    height: 170px;
  }
  #copy::after {
    width: 170px;
    height: 170px;
  }
  #mind {
    display: unset;
  }
  #mind img {
    width: 80%;
    height: 450px;
    margin: 200px auto 0 auto;
  }
  #mind div {
    width: 80%;
    margin: 100px auto 100px auto;
  }
  #mind p {
    text-align: center;
  }
  #mind::after {
    content: unset;
  }
  #mind div h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  #attracts::before {
    content: unset;
  }
  #points img {
    display: none;
  }
  #points .area {
    padding: 50px;
  }
}
/* 画面サイズ 600px 未満 */
@media (max-width: 599px) {
  .res-sp {
    display: inline-block;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.6rem;
  }
  .btnarrow {
    font-size: 1.6rem !important;
  }
  .intro-wrap .intro-top div a {
    font-size: 1.6rem;
  }
  #hero img {
    height: 150px;
    position: absolute;
    top: unset;
    left: unset;
    bottom: 10vw;
    right: 7vw;
  }
  #hero .hero-text h2 {
    font-size: 3rem;
  }
  #hero .hero-text p {
    font-size: 2rem;
  }
  #header #r-nav {
    border-radius: 0;
  }
  .intro-wrap .intro-top {
    top: 100px;
  }
  .intro-wrap .intro-top div p {
    margin: 50px 25px 20px 25px;
  }
  .intro-wrap .intro-bottom .intro-bottom-img1 {
    height: 200px;
    width: 80vw;
    left: -10%;
  }
  .intro-wrap .intro-bottom .intro-bottom-img2 {
    height: 200px;
    width: 80vw;
    top: 130px;
    right: -10%;
  }
  .intro-wrap .intro-bottom div p {
    width: 80vw;
  }
  .intro-wrap .intro-bottom {
    top: 730px;
  }
  .intro-wrap .intro-bottom div {
    top: 350px;
  }
  #particles-js {
    height: 2080px;
  }
  #greeting .greeting-wrap p {
    line-height: 30px;
  }
  #to-contact div {
    padding: 0 30px;
  }
  #footer img {
    width: 100px;
  }
  #footer nav ul {
    margin: 30px 0 0 0;
  }
  #footer nav ul li {
    width: 40%;
  }
  nav ul li a {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  #footer nav #f-navi-other {
    margin: 0;
  }
  #footer nav #f-navi-other li {
    width: 60%;
  }
  #footer .footer-wrap div p {
    padding: 0 30px;
  }
  #facility .f-descriptin-top img {
    width: 80vw;
    margin: 0 auto;
  }
  .heading {
    font-size: 2rem;
  }
  #facility .f-descriptin-top div {
    width: 80vw;
  }
  #facility .f-descriptin-middle {
    width: 95vw;
    margin: 100px auto 0 auto;
  }
  #facility .f-descriptin-middle div {
    width: 48%;
    padding: 10px 10px 20px 10px;
  }
  #facility .f-descriptin-middle div p {
    font-size: 1.4rem;
  }
  #facility .f-description-bottom {
    margin: 100px auto 0 auto;
    width: 75vw;
  }
  #facility .f-description-bottom table {
    font-size: 1.6rem;
  }
  #to-contact div a {
    font-size: 1.6rem;
  }
  #service .service-middle div {
    width: 80vw;
  }
  #service .service-middle div h4 {
    font-size: 1.8rem;
    white-space: pre-wrap;
  }
  #service .service-middle div p {
    padding-left: 20px;
  }
  #service .service-bottom {
    padding: 0 30px;
  }
  #service .service-bottom div .sb-icon div {
    height: 80px;
    width: 80px;
  }
  #service .service-bottom .sb-up {
    position: relative;
    margin-bottom: 650px;
  }
  #service .service-bottom .sb-up p {
    width: 70vw;
  }
  #service .service-bottom .sb-up p::first-line {
    font-weight: bold;
  }
  #service .service-bottom .sb-up p:nth-child(2) {
    position: absolute;
    top: 150px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-up p:nth-child(3) {
    position: absolute;
    top: 270px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-up p:nth-child(4) {
    position: absolute;
    top: 390px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-up p:nth-child(5) {
    position: absolute;
    top: 510px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-up p:nth-child(6) {
    position: absolute;
    top: 630px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-left {
    position: relative;
    margin-bottom: 500px;
  }
  #service .service-bottom .sb-left p {
    width: 65vw;
  }
  #service .service-bottom .sb-left p::first-line {
    font-weight: bold;
  }
  #service .service-bottom .sb-left p:nth-child(2) {
    position: absolute;
    top: 150px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-left p:nth-child(3) {
    position: absolute;
    top: 270px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-left p:nth-child(4) {
    position: absolute;
    top: 390px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-left p:nth-child(5) {
    position: absolute;
    top: 510px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-right {
    position: relative;
    padding-bottom: 500px;
  }
  #service .service-bottom .sb-right p {
    width: 65vw;
  }
  #service .service-bottom .sb-right p::first-line {
    font-weight: bold;
  }
  #service .service-bottom .sb-right p:nth-child(2) {
    position: absolute;
    top: 150px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-right p:nth-child(3) {
    position: absolute;
    top: 270px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-right p:nth-child(4) {
    position: absolute;
    top: 390px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-bottom .sb-right p:nth-child(5) {
    position: absolute;
    top: 510px;
    left: 8vw;
    right: unset;
    text-align: left;
  }
  #service .service-top h2 {
    font-size: 1.8rem;
  }
  #service .service-middle h3 {
    padding: 30px 0 90px 0;
  }
  #service .service-bottom div .sb-icon div img {
    height: 40px;
    width: 40px;
  }
  #service .service-bottom div .sb-icon h4 {
    font-size: 1.8rem;
  }
  #service .wave-bottom {
    transform: translateY(-12px);
    background-color: #f2f0e9;
    margin-bottom: -10px;
  }
  #flow-service .flow > li dl dt {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  #flow-service .flow-content dd {
    font-size: 1.6rem;
  }
  #to-contact-service {
    padding: 50px 20px;
  }
  #to-contact-service a {
    font-size: 1.6rem;
  }
  #recruit-hero::before {
    width: 200px;
    height: 200px;
  }
  #recruit-hero::after {
    width: 200px;
    height: 200px;
  }
  #recruit-hero .declare h2 {
    font-size: 6rem;
  }
  #recruit-hero .declare h3 {
    font-size: 3.5rem;
  }
  #recruit-hero .company h3 {
    font-size: 2.5rem;
  }
  #recruit-hero .company h4 {
    font-size: 2rem;
  }
  #copy {
    margin: 100px auto 0 auto;
    width: 87vw;
    padding: 70px 30px;
  }
  #copy::before {
    width: 120px;
    height: 120px;
    left: 0;
    top: -40px;
  }
  #copy p {
    line-height: 30px;
  }
  #copy::after {
    width: 120px;
    height: 120px;
    bottom: -50px;
    right: 0;
  }
  #mind img {
    width: 80%;
    height: 300px;
    margin: 100px auto 0 auto;
  }
  #mind div {
    width: 80%;
    margin: 30px auto 100px auto;
  }
  #mind div p span {
    font-size: 2rem;
  }
  #attracts div h4 {
    font-size: 1.8rem;
  }
  #attracts {
    padding: 70px 30px;
  }
  #points {
    display: none;
  }
  #points-sp {
    display: block;
    /*アコーディオンタイトル*/
    /*アイコンの＋と×*/
    /*　closeというクラスがついたら形状変化　*/
    /*アコーディオンで現れるエリア*/
  }
  #points-sp .accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
  }
  #points-sp .accordion-area li {
    margin: 10px 0;
    background-color: white;
  }
  #points-sp .accordion-area section {
    border: 1px solid #ccc;
  }
  #points-sp .title {
    position: relative;
    /*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all 0.5s ease;
    background-color: #cfcfcf;
  }
  #points-sp .title::before,
  #points-sp .title::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #333;
  }
  #points-sp .title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
  }
  #points-sp .title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg);
  }
  #points-sp .title.close::before {
    transform: rotate(45deg);
  }
  #points-sp .title.close::after {
    transform: rotate(-45deg);
  }
  #points-sp .box {
    display: none;
    /*はじめは非表示*/
    background: white;
    margin: 0 3% 3% 3%;
    padding: 3%;
  }
  #points-sp h2 {
    text-align: center;
    margin: 50px 0px;
  }
  #points-sp .accordion-area {
    padding: 0;
  }
  #flow-recruit .flow-content {
    font-size: 1.5rem;
    margin-left: 13%;
  }
  #flow-recruit .flow-content .flow {
    margin-right: 10%;
  }
  #openings {
    width: 90%;
    margin: 0 auto;
  }
  #openings table {
    width: 95%;
    margin: 70px auto;
  }
  #openings th {
    font-size: 1.5rem;
  }
  #openings td {
    font-size: 1.4rem;
  }
  #openings td ul {
    padding: 0;
  }
}/*# sourceMappingURL=default.css.map */
