@charset "UTF-8";

html {
  font-size: 62.5%;
  background-color: #f2f0e9;
  color: #3f3f3f;
  font-family: 'Noto Serif JP', serif;
  // font-family: 'Zen Kurenaido', sans-serif;
  // font-family: 'Zen Maru Gothic', serif;
}

body {
  font-size: 1.4rem;
}

img {
  border-radius: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

h1 {
  font-family: 'Zen Maru Gothic', serif;
}

h2 {
  font-size: 4rem;
  font-family: 'Zen Maru Gothic', serif;
}

.content-title {
  &::after {
    content: '';
    position: absolute;
    margin-top: 50px;
    display: inline-block;
    width: 100px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #69B0AC;
    border-radius: 2px;
  }
}

h3 {
  font-size: 3rem;
  font-family: 'Zen Maru Gothic', serif;
}

p {
  font-size: 2rem;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*矢印が右に移動して背景がつく*/

.btnarrow {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  border: 2px solid #69B0AC;
  padding: 8px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #3f3f3f;
  outline: none;
  /*アニメーションの指定*/
  transition: all .2s linear;
  background-color: white;
}

.btnarrow:hover {
  background: #69B0AC;
  color: #f2f0e9;
}

/*矢印と下線の形状*/
.btnarrow::before {
  content: "";
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  top: 50%;
  right: -26px;
  /*下線の形状*/
  width: 40px;
  height: 1px;
  background: #69B0AC;
  /*アニメーションの指定*/
  transition: all .2s linear;
}

.btnarrow::after {
  content: "";
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 20%;
  right: -19px;
  /*矢印の形状*/
  width: 1px;
  height: 14px;
  background: #69B0AC;
  transform: skewX(45deg);
  /*アニメーションの指定*/
  transition: all .2s linear;
}

/*hoverした際の移動*/
.btnarrow:hover::before {
  right: -50px;
}

.btnarrow:hover::after {
  right: -43px;
}


.btnarrow2 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  border: 2px solid #D0596E;
  padding: 8px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  outline: none;
  /*アニメーションの指定*/
  transition: all .2s linear;
  background-color: #D0596E;
}

.btnarrow2:hover {
  background: white;
  color: #3f3f3f;
}

/*矢印と下線の形状*/
.btnarrow2::before {
  content: "";
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  top: 50%;
  right: -26px;
  /*下線の形状*/
  width: 40px;
  height: 1px;
  background: #D0596E;
  /*アニメーションの指定*/
  transition: all .2s linear;
}

.btnarrow2::after {
  content: "";
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 20%;
  right: -19px;
  /*矢印の形状*/
  width: 1px;
  height: 14px;
  background: #D0596E;
  transform: skewX(45deg);
  /*アニメーションの指定*/
  transition: all .2s linear;
}

/*hoverした際の移動*/
.btnarrow2:hover::before {
  right: -50px;
}

.btnarrow2:hover::after {
  right: -43px;
}

// -----------------------

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #69B0AC;
  text-align: center;
  color: #f2f0e9;

  img {
    width: 400px;
    margin: 100px auto;
  }
}

/*========= スクロール途中でヘッダーが表示＆非表示するためのCSS ===============*/

#header {
  /*fixedで上部固定*/
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 998;
  /*最前面へ*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #69B0AC;
  color: #f2f0e9;
  text-align: center;
  padding: 20px;
}

/*　上に上がる動き　*/

#header.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

/*　下に下がる動き　*/

#header.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #3f3f3f;
  padding: 10px;
  margin: 0 10px;
  font-size: 1.7rem;
  line-height: 60px;
}

nav ul li {
  color: white;
  margin: 0 10px;

  &:nth-child(4) {
    background-color: #D0596E;
    color: white;
  }

  &:nth-child(5) {
    background-color: #D0596E;
    color: white;
  }
}

#hero {
  height: 100vh;
  padding-top: 60px;
  background-position: center;
  background-image: url(images/jurin-img1.jpeg);
  background-size: 100vw;
  position: relative;
  font-family: 'Zen Maru Gothic', serif;

  div {
    text-align: center;
    position: absolute;
    top: 25vh;
    left: 14vw;

    h2 {
      font-size: 6rem;
    }

    p {
      margin-top: 10px;
      font-size: 3rem;
    }
  }

  img {
    height: 300px;
    position: absolute;
    top: 55vh;
    left: 10vw;
  }
}


#particles-js {
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 1850px;
  text-align: center;
}

.particles-js-canvas-el {
  margin-top: -44px;
}

.intro-wrap {
  position: relative;
  width: 100vw;
  top: 200px;

  z-index: 1 h2 {
    text-align: center;
  }

  .intro-top {
    position: absolute;
    top: 150px;
    display: flex;
    width: 100vw;
    justify-content: center;

    img {
      height: 580px;
      width: 430px;
      position: absolute;
      right: 57%;
      -o-object-fit: cover;
      object-fit: cover;
    }

    div {
      position: absolute;
      text-align: center;
      margin: 30px 10vw 0 50vw;

      p {
        margin: 50px 0 20px 0;
      }

      a {
        font-size: 2rem;
      }
    }
  }

  .intro-bottom {
    position: absolute;
    top: 850px;
    display: flex;
    width: 100vw;

    img {
      height: 70vh;
      width: 30vw;
      margin-left: 10vw;
      object-fit: cover;
    }

    .intro-bottom-img1 {
      height: 400px;
      width: 450px;
      object-fit: cover;
      position: absolute;
      top: 5vh;
      left: 50vw;
    }

    .intro-bottom-img2 {
      height: 350px;
      width: 450px;
      object-fit: cover;
      position: absolute;
      top: 40vh;
      left: 55vw;
    }

    div {
      position: absolute;
      text-align: center;
      margin-top: 100px;
      right: 50%;

      h3 {
        margin-bottom: 40px;
      }

      p {
        margin: 20px 0 10px 0;
        width: 580px;

        &::after {
          content: "";
          display: inline-block;
          width: 700px;
          height: 10px;
          border-bottom: 3px solid #69B0AC;
          position: relative;
          left: -50px;
        }


        &:nth-child(2) {
          &::before {
            content: "1";
            display: inline-block;
            background-color: #69B0AC;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            position: relative;
            top: 52px;
            left: -80px;
            line-height: 50px;
          }
        }

        &:nth-child(3) {
          &::before {
            content: "2";
            display: inline-block;
            background-color: #69B0AC;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            position: relative;
            top: 52px;
            left: -80px;
            line-height: 50px;
          }
        }

        &:nth-child(4) {
          &::before {
            content: "3";
            display: inline-block;
            background-color: #69B0AC;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            position: relative;
            top: 52px;
            left: -80px;
            line-height: 50px;
          }
        }
      }

      a {
        margin-top: 70px;
        font-size: 2rem;
      }
    }
  }
}

.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin: 100px 10px;
  /*スライド左右の余白調整*/
}

#slide-show ul {
  padding: 0;
}

#greeting {
  text-align: center;
  background-color: white;
  padding: 70px 0;
  font-family: 'Zen Kurenaido', sans-serif;

  h2 {
    margin-bottom: 100px;
  }

  .greeting-wrap {
    display: flex;

    p {
      width: 40vw;
      margin: 50px 3vw 0 12vw;
      line-height: 50px;
    }

    img {
      width: 35vw;
      height: 40vw;
      object-fit: cover;
      margin: 0 12vw 0 3vw;
    }
  }
}

#posts {
  text-align: center;
  margin: 130px 0;

  h2 {
    margin-bottom: 70px;
  }

  img {
    width: 1200px;
    margin: 0 auto;
  }

  a {
    font-size: 2rem;
    margin-top: 30px;
  }
}

#to-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/IMG_1985.JPG);
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-align: center;
  padding: 95px 0;

  div {
    height: 310px;

    h3 {
      margin-bottom: 50px;
    }

    p {
      margin: 20px 0;

      &:last-child {
        margin: 20px 0 0 0;
      }
    }

    a {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  }
}

#footer {
  img {
    width: 212px;
    margin: 50px auto 0 auto;
  }

  nav {
    margin: 10px 0;
    background-color: none;
    color: #3f3f3f;

    &::before {
      content: '';
      width: 80vw;
      display: inline-block;
      border: 0.5px solid #3f3f3f;
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }

    &::after {
      content: '';
      width: 80vw;
      display: inline-block;
      border: 0.5px solid #3f3f3f;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      top: -10px;
    }

    ul {
      margin: 30px 0;

      li {
        color: #3f3f3f;
        background-color: #f2f0e9;
      }
    }
  }

  .footer-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    div {
      width: 500px;

      h3 {
        margin-bottom: 30px;
      }

      p {
        line-height: 40px;
      }
    }
  }
}

// ---------------------------------about--------------------------------
#page-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/22284973_s.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

.heading {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 260px;
  font-size: 6rem;
  font-family: 'Zen Maru Gothic', serif;
  color: white;
}

.heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #D0596E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#philosophy {
  text-align: center;
  margin-top: 200px;
  transform: translateY(10px);

  .philosophy-wrap {
    background-color: white;
    transform: translateY(-10px);
  }

  .philosophy-div1 {
    padding: 30px 0;
    transform: translateY(-10px);

    h2 {
      margin: 50px;
    }

    p {
      text-align: center;
      display: inline-block;
      max-width: 70vw;
    }
  }

  .philosophy-div2 {
    transform: translateY(-10px);

    h3 {
      margin: 0 0 50px 0;
    }

    div {
      margin: 16px auto;
      text-align: center;
      display: block;

      p {
        text-align: left;
        display: inline-block;
        max-width: 70vw;
      }
    }


    &:before {
      content: '';
      width: 70vw;
      border: 0.5px solid #3f3f3f;
      display: inline-block;
      margin: 50px 0 100px 0;
    }

    &:after {
      content: '';
      width: 70vw;
      border: 0.5px solid #3f3f3f;
      display: inline-block;
      margin: 100px 0 50px 0;
    }
  }

  .philosophy-div3 {
    padding: 30px 0 10px 0;
    transform: translateY(-10px);

    h3 {
      margin: 0 0 50px 0;
    }

    div {
      margin: 16px auto;
      text-align: center;
      display: block;

      p {
        text-align: left;
        display: inline-block;
        max-width: 70vw;
      }
    }
  }

  .wave-bottom {
    transform: translateY(-10px);
    background-color: #f2f0e9;
    margin-bottom: -10px;
  }
}

#facility {
  background-color: #f2f0e9;
  text-align: center;
  padding-top: 100px;

  .content-title {
    margin-bottom: 100px;
  }

  .f-descriptin-top {
    display: flex;
    justify-content: center;

    img {
      width: 500px;
      object-position: center;
      margin-right: 50px;
    }

    div {
      width: 500px;
      text-align: center;

      h3 {
        margin: 20px 0 30px 0;
      }

      p {
        line-height: 35px;
      }
    }
  }

  // .box{
  //   opacity: 0;
  // }

  .f-descriptin-middle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75vw;
    margin: 150px auto 0 auto;

    h3 {
      width: 100%;
      margin-bottom: 50px;
    }



    div {
      width: 30%;
      padding: 20px 20px 40px 20px;
      border-radius: 20px;
      background-color: white;
      margin-bottom: 30px;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

      img {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 20px;
      }

    }
  }

  .f-description-bottom {
    max-width: 1100px;
    width: 70vw;
    margin: 150px auto 0 auto;
    padding-bottom: 100px;

    h3 {
      margin-bottom: 50px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 2rem;
      border: 2px #a4a4a4 solid;
    }

    table tr {
      border-bottom: solid 2px #a4a4a4;
    }

    table tr:last-child {
      border-bottom: none;
    }

    table th {
      position: relative;
      text-align: left;
      width: 30%;
      background-color: #69B0AC;
      color: white;
      text-align: center;
      padding: 10px 0;
    }

    table th:after {
      display: block;
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      top: calc(50% - 10px);
      right: -10px;
      border-left: 10px solid #69B0AC;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    table td {
      text-align: left;
      width: 70%;
      text-align: center;
      background-color: white;
      padding: 10px 0;
    }
  }
}

// ---------------------------

#page-service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/27765628_s.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

.heading {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 260px;
  font-size: 6rem;
  font-family: 'Zen Maru Gothic', serif;
  color: white;
}

.heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #D0596E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#service {
  text-align: center;
  margin-top: 200px;
  transform: translateY(10px);

  .wave-bottom {
    transform: translateY(-10px);
    background-color: #f2f0e9;
    margin-bottom: -10px;
  }

  .service-wrap {
    transform: translateY(-10px);
    background-color: white;
  }

  .service-top {
    h2 {
      line-height: 60px;
    }

    p {
      max-width: 70vw;
      margin: 0 auto;
      padding: 50px 0;
      line-height: 35px;
    }
  }

  .service-middle {
    h3 {
      padding: 150px 0 90px 0;
    }

    div {
      max-width: 70vw;
      margin: 0 auto 75px auto;

      h4 {
        float: left;
        font-size: 2.5rem;
        ;

        &:before {
          content: '';
          border: 2px #69B0AC solid;
          margin-right: 5px;
        }
      }

      p {
        margin: 30px 0;
        text-align: left;
        padding-left: 50px;
        line-height: 35px;
      }
    }
  }

  .service-bottom {

    h3 {
      margin: 70px 0;
    }

    div {
      .sb-icon {

        h4 {
          margin-bottom: 30px;
          font-size: 2.3rem;
          font-family: 'Zen Maru Gothic', serif;
        }

        div {
          height: 140px;
          width: 140px;
          background-color: #69B0AC;
          padding: 20px;
          border-radius: 100px;
          margin: 0 auto;

          img {
            height: 100px;
            width: 100px;
          }
        }
      }

      p {
        border-bottom: 1px #69B0AC solid;

        &:nth-child(2) {
          text-align: right;
        }

        &:nth-child(3) {
          text-align: right;
        }

        &:nth-child(4) {
          text-align: left;
        }

        &:nth-child(5) {
          text-align: left;
        }

        &:nth-child(6) {
          text-align: center;
        }

        span {
          font-size: 1.5rem;
        }
      }

    }

    .sb-up {
      position: relative;
      margin-bottom: 250px;

      p {
        &:nth-child(2) {
          position: absolute;
          top: 30px;
          right: calc(50% + 130px);
        }

        &:nth-child(3) {
          position: absolute;
          top: 150px;
          right: calc(50% + 130px);
        }

        &:nth-child(4) {
          position: absolute;
          top: 30px;
          left: calc(50% + 130px);
        }

        &:nth-child(5) {
          position: absolute;
          top: 150px;
          left: calc(50% + 130px);
        }

        &:nth-child(6) {
          position: absolute;
          top: 250px;
          left: calc(50% - 127px);
        }
      }
    }

    .sb-left {
      position: relative;
      margin-bottom: 150px;

      p {

        &:nth-child(2) {
          position: absolute;
          top: 30px;
          right: calc(50% + 130px);
        }

        &:nth-child(3) {
          position: absolute;
          top: 150px;
          right: calc(50% + 130px);
        }

        &:nth-child(4) {
          position: absolute;
          top: 30px;
          left: calc(50% + 130px);
        }

        &:nth-child(5) {
          position: absolute;
          top: 150px;
          left: calc(50% + 130px);
        }
      }
    }

    .sb-right {
      position: relative;
      padding-bottom: 100px;

      p {

        &:nth-child(2) {
          position: absolute;
          top: 30px;
          right: calc(50% + 130px);
        }

        &:nth-child(3) {
          position: absolute;
          top: 150px;
          right: calc(50% + 130px);
        }

        &:nth-child(4) {
          position: absolute;
          top: 30px;
          left: calc(50% + 130px);
        }

        &:nth-child(5) {
          position: absolute;
          top: 150px;
          left: calc(50% + 130px);
        }
      }
    }
  }
}

#flow-service {
  padding-top: 100px;
  background-color: #f2f0e9;
  padding-bottom: 150px;

  h2 {
    margin-bottom: 100px;
    text-align: center;
  }

  .flow-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 0 auto;
  }

  .flow-content ul {
    padding: 0;
  }

  .flow-content li {
    list-style-type: none;
  }

  .flow-content dd {
    margin-left: 0;
    font-size: 2rem;
  }

  .flow>li {
    position: relative;
    list-style: none;
  }

  .flow>li:not(:last-child) {
    margin-bottom: 40px;
  }

  .flow>li dl {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #69B0AC;
    border-radius: 10px;
    position: relative;
    background-color: white;
  }

  .flow>li:not(:last-child) dl::before,
  .flow>li:not(:last-child) dl::after {
    content: "";
    border: solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .flow>li:not(:last-child) dl::before {
    border-width: 22px;
    border-top-color: #69B0AC;
  }

  .flow>li:not(:last-child) dl::after {
    border-width: 20px;
    border-top-color: #fff;
  }

  .flow>li dl dt {
    font-size: 2rem;
    font-weight: 600;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    margin-right: 2vw;
    text-align: center;
    min-width: 14vw;
  }

  .flow>li dl dt .icon01 {
    font-size: 0.6em;
    color: #fff;
    background: #69B0AC;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 20px;
    position: relative;
    z-index: 100;
  }

  @media(max-width: 650px) {
    .flow>li:not(:last-child) {
      margin-bottom: 30px;
    }

    .flow>li dl {
      display: block;
      padding: 10px 15px;
    }

    .flow>li dl dt {
      margin-right: 0;
    }

    .flow>li dl dt .icon01 {
      font-size: .7em;
    }
  }
}

#to-contact-service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/22284977_s.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-align: center;
  padding: 50px 0;

  h3 {
    margin-bottom: 30px;
  }

  p {
    line-height: 35px;
    margin: 10px 0 5px 0;
  }

  a {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

// ------------------------------------


#recruit-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: white;
  color: #3f3f3f;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9), 0 0 40px #fff;
  overflow: hidden;

  img {
    max-width: none;
    width: 167%;
    transform: rotate(45deg);
    position: absolute;
    top: 35%;
    left: -15%;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 400px;
    height: 400px;
    background-image: url(images/recruit-image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    top: 60px;
    right: 0;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 400px;
    height: 400px;
    background-image: url(images/recruit-image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
  }

  .declare {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);

    h2 {
      font-size: 9rem;
      font-family: 'Noto Serif JP', serif;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 5rem;
      font-family: 'Noto Serif JP', serif;

      &::after {
        content: "";
        display: inline-block;
        width: 300px;
        height: 300px;
        // background-image: url(images/recruit-image3.png);
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        bottom: -70%;
        right: 20%;
        z-index: -1;
      }
    }
  }

  .company {
    position: absolute;
    bottom: 10%;
    right: 10%;

    h3 {
      font-size: 4rem;
      font-family: 'Noto Serif JP', serif;
    }

    h4 {
      font-size: 3rem;
      font-family: 'Noto Serif JP', serif;
    }
  }
}

#copy {
  text-align: center;
  margin: 200px auto 0 auto;
  padding: 70px 50px;
  background-color: white;
  border-radius: 20px;
  width: 75vw;
  max-width: 1200px;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

  &::before {
    content: '';
    display: inline-block;
    width: 250px;
    height: 250px;
    background-image: url(images/recruit-image3.png);
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    top: -100px;
    left: -100px;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 250px;
    height: 250px;
    background-image: url(images/recruit-image5.png);
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    bottom: -100px;
    right: -100px;
  }

  h2 {
    margin-bottom: 50px;
  }

  p {
    line-height: 40px;
  }
}

#mind {
  width: 80vw;
  margin: 170px auto;
  display: flex;
  justify-content: space-around;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    width: 250px;
    height: 250px;
    background-image: url(images/recruit-image4.png);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    bottom: -100px;
    left: -100px;
  }

  img {
    width: 40%;
    object-fit: cover;
  }

  div {
    width: 50%;

    h2 {
      margin-bottom: 30px;
    }

    p {
      span {
        font-size: 2.3rem;
        border-bottom: 2px solid #69B0AC;
        line-height: 40px;
      }
    }
  }

}

#attracts {
  padding: 100px;
  text-align: center;
  width: 100%;
  position: relative;
  background-color: white;

  &::before {
    content: '';
    display: inline-block;
    width: 250px;
    height: 250px;
    background-image: url(images/recruit-image6.png);
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 60px;
  }


  h2 {
    margin-bottom: 30px;
  }

  div {
    &:before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url(images/leaf-2.png);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      position: relative;
      top: 50px;
    }

    h4 {
      font-size: 2.5rem;
      margin: 50px 0 30px 0;
    }
  }
}

#points {
  text-align: center;
  width: 1200px;
  margin: 100px auto 0 auto;

  h2 {
    margin: 50px auto;
  }
}

.display-none {
  display: none;
}

/*tabの形状*/
.tab {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.tab li a {
  display: block;
  background: #ddd;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;

  &:nth-child(1) {
    margin-left: 0;
  }
}

/*liにactiveクラスがついた時の形状*/
.tab li.active a {
  background: #fff;
}


/*エリアの表示非表示と形状*/
.area {
  display: none;
  opacity: 0;
  background: #fff;
  padding: 50px 20px;
  border-radius: 0 30px 30px 30px;

  div {
    display: flex;
    justify-content: center;

    img {
      width: 40%;
    }

    p {
      min-width: 40%;
      width: 100%;
    }
  }

}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block;
  /*表示*/
  animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


#flow-recruit {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;

  div {
    background-color: white;
  }

  .wave-top {
    transform: translateY(10px);
  }

  h2 {
    margin-bottom: 50px;
    margin-top: 0;
  }

  .flow-content {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  .flow-content ul {
    padding: 0;
  }

  .flow-content li {
    list-style-type: none;
  }

  .flow-content dd {
    margin-left: 0;
  }

  .flow {
    position: relative;
  }

  .flow::before {
    content: "";
    width: 15px;
    height: 100%;
    background: #69B0AC;
    margin-left: -129px;
    display: block;
    position: absolute;
    top: 0;
    left: 120px;
    border-radius: 20px;
  }

  .flow>li {
    position: relative;
  }

  .flow>li:not(:last-child) {
    margin-bottom: 60px;
  }

  .flow>li .icon03 {
    font-size: 0.8em;
    width: 2em;
    height: 2em;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    border-radius: 100vh;
    color: #fff;
    background: #69B0AC;
    display: inline-block;
    margin-right: 0.3em;
  }

  .flow>li dl {
    padding-left: 70px;
    position: relative;
  }

  .flow>li dl::before,
  .flow>li dl::after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
  }

  .flow>li dl::before {
    width: 7px;
    height: 7px;
    margin-top: -3px;
    background: #fff;
    border-radius: 50%;
    left: -4px;
  }

  .flow>li dl::after {
    width: 50px;
    border-bottom: 1px dashed #999;
    position: absolute;
    left: 5px;
  }

  .flow>li dl dt {
    font-size: 1.3em;
    font-weight: 600;
    color: #3f3f3f;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
  }
}


#openings {
  font-size: 2rem;
  text-align: center;

  //   table { すまほよう！
  //     margin-bottom:20px;
  //     width:50%;
  // }
  // th,td {
  //     border:none;
  //     padding:2%;
  //     display:list-item;
  //     list-style:none;
  // }
  // th {
  //     color:#FFF;
  //     font-weight:bold;
  //     background-color:#00B285;
  //     text-align:left;
  // }
  // th br {
  //     display:none;
  // }
  // td {
  //     background-color:#EEE;
  // }

  table {
    margin-bottom: 20px;
    width: 70%;
    max-width: 1200px;
    margin: 100px auto;
    border-collapse: separate;
  }

  th,
  td {
    border: none;
    padding: 2%;
  }

  th {
    width: 25%;
    color: #FFF;
    font-weight: bold;
    background-color: #69B0AC;
    vertical-align: middle;
  }

  td {
    background-color: white;
  }

  li {
    list-style: none;
  }
}


//-----------------------------

.form-wrap {
  padding-top: 200px;

  .recruit-title {
    text-align: center;

    h2 {
      margin-bottom: 30px;
    }
  }
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  max-width: 720px;
}

@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}

.Form-Item {

  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #69B0AC;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #f2f0e9;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #69B0AC;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

#to-entry{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/27765628_s.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-align: center;
  padding: 95px 0;

  div {
    height: 310px;

    h3 {
      margin-bottom: 50px;
    }

    p {
      margin: 20px 0;

      &:last-child {
        margin: 20px 0 0 0;
      }
    }

    a {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}




/* 画面サイズ 600px 以上 1200px 未満 */
@media (max-width: 1200px) {

}




/* 画面サイズ 600px 未満 */
@media (max-width: 599px) {

}
